.container {
  padding-left: 15px;
  padding-right: 15px;
}

h4 {
  margin-top: 25px;
}
.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}
[class*="xcol-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  border: 1px solid #ddd;
  background-color: rgba(86,61,124,.15);
  border: 1px solid rgba(86,61,124,.2);
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

.read-more {
	font-size: 12px; 
	text-transform: uppercase;
	font-family: "DIN Regular", sans-serif;
}

/* blog */
#sidescroll {
	width:100%; 
	overflow:scroll;
}
#sidescroll::-webkit-scrollbar { 
    display: none; 
}
menu { padding: 0 0 0 15px;
width: 3000px;
display: block;
overflow: hidden;
height: auto;
 }
menu li { list-style: none;
	background: #f3f3f3;
	float: left; margin: 0 12px 12px 0;
	width: 200px;
	height: 300px;
	overflow: hidden;
	position: relative;
}
menu li a{
	width: 200px;
	height: 300px;
	padding: 0;
	margin: 0;
display: inline-block;
vertical-align: bottom;
position: absolute;
border: 1px solid red;
line-height: 1;
font-size: 15px;
font-style: italic;
}
menu li a h4 {
	font-family: "DIN Bold", sans-serif;
	font-size: 24px;
	font-style:normal;
}

blockquote {
	font-style: italic;
}
blockquote small {
	font-size: 12px; 
	font-family: "DIN Regular", sans-serif;
	font-style:normal;
}
article h5 {
padding: 25px 0 12px 0;
}
p.postedon {
	font-size: 13px; 
	font-family: "DIN Regular", sans-serif;
	color: #8C8C8C;
	margin-bottom: 45px;
}
article.blogpost footer {
	border-top: 1px solid #D8D8D8;
	padding-top: 25px;
	margin-top: 20px;
font-size: 15px; 
	font-family: "DIN Regular", sans-serif;
	color: #8C8C8C;
}
article.blogpost footer strong {
	font-family: "DIN Bold", sans-serif;
	letter-spacing: -.078em !important;
}
#auxiliary ul {
	padding:0;
	list-style: none;
}
#auxiliary h4 {
	font-size: 16px;
	text-transform: uppercase;	
}
#auxiliary li {
	font-size: 15px;
line-height: 1.19;
padding-bottom: 7px;}

img.desaturate{
filter: grayscale(100%);
-webkit-filter: grayscale(100%); -moz-filter: grayscale(100%);
filter: grayscale(100%);
filter: url(desaturate.svg#greyscale);
filter: gray;
}

/* faculty */
#faculty-info {
	font-size:16px;
}
#faculty-info h4 {
	margin-top: 0;
font-size: 15px;
text-transform: uppercase;}

.faculty-title {
	font-style:italic;
	line-height:1;
	padding-bottom:18px;
	border-bottom: 1px solid #ccc;
}
#faculty h4 {
	margin-top: 0;
}

/* portfolio + pieces */
#piece dl.team dt {
	border-top: 1px solid #ccc;
	width:40%;
	float:left;
	clear: both;
	font-size: 14px;
	font-family: "DIN Bold", sans-serif;
	letter-spacing: -.078em;
	text-transform:uppercase;
	color:#777;
}
#piece dl.team dd {
	border-top: 1px solid #ccc;
	width: 60%;
	float:right;
	font-size: 14px;
	font-family: "DIN Regular", sans-serif;
}
#piece menu {
	height:350px;}
#piece menu li {
	width: auto !important;
	height:350px !important;}
#piece menu li img {
width: auto !important;
	height:350px !important;}
.glyphicon-circle-arrow-up {
    -webkit-transition-duration: 0.28s;
    -moz-transition-duration: 0.28s;
    -o-transition-duration: 0.28s;
    transition-duration: 0.28s;
     
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
 
    }  
 
.glyphicon-circle-arrow-up:hover  
{
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform:rotate(90deg);
} 
#piece dl.piece-info {
	font-size:12px;
}
#piece dl.piece-info dt {
	text-transform:uppercase;
	font-family: "DIN Regular", sans-serif;
	font-size:12px;
	letter-spacing: -.089em !important;
}
#piece dl.piece-info dd {
	font-family: "DIN Bold", sans-serif;
	padding-bottom:6px;

}
#piece h4 {
	font-size: 18px;}
#piece p.tagline {
	font-family:"athelas";
	font-style: italic;
}